:root {
  --light-grey: #f3f5f7;
  --graphite: #9ea9b7;
  --grey: #d1d5df;
  --dark-grey: #b5b5b5;
  --black: #0c131d;
  --white: white;
  --blue: #0c73fe;
  --light-blue: #daeaff;
  --orange: #fa742d;
}
