.ticketList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  height: 61vh;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--light-grey);
  }
  &::-webkit-scrollbar-thumb {
    position: absolute;
    background: var(--grey);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey);
  }
}

.ticket {
  display: grid;
  grid-template-columns: 1.2fr 2.8fr;
  background-color: var(--white);
  border-radius: 10px;
  margin-right: 5px;
  &:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-right: 1px solid var(--light-grey);
    .icon {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
    }
    svg {
      width: 50px;
      height: 50px;
    }
  }
  .button,
  .button:hover {
    font-size: 16px;
    border: none;
    background-color: var(--orange) !important;
    color: var(--white) !important;
    height: 60px;
  }
  .info {
    padding: 20px;
  }
  .time {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    font-size: 23px;
    color: var(--black);

    .stops {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      margin-top: -17px;
      color: var(--graphite);
    }

    .icon {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }
    .line {
      display: block;
      width: 100%;
      height: 0.5px;
      background-color: var(--graphite);
    }
    svg {
      padding-left: 5px;
      width: 15px;
      height: 15px;
      fill: var(--graphite);
    }
  }
  .block {
    display: flex;
    justify-content: space-between;
  }
  .inner {
    display: flex;
    flex-direction: column;
  }
  .departure {
    text-align: right;
  }
  .city {
    margin-top: 5px;
    font-weight: 500;
    color: var(--black);
  }
  .date {
    color: var(--graphite);
  }
}
